/bmUtils/.classpath
/bmWebScan/.classpath
/bmWebScan/CD
/salonAdmin/deployReplace
/salonAdmin/deploy.bat
/salonAdmin/logs
/nale-stock
/Sessa/tmp
/Sessa/nashorn.history
/Sessa/src/main/nashorn/.idea
/Sessa/src/main/sessaStockDays
