<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE mapper 
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="rays.web.rays.dao.mybatis.PageScoreDao">

	<!-- /////////////////////////////// -->
	<select id="selectHostDetectedHost" resultType="int">
		select
		count(distinct(host))
		from
		webscan_page_score
		<if test="status >= 0">
			where audit_status = ${status}
		</if>

	</select>

	<select id="selectHostDetectedList" resultType="HostDetectedVo">
		select i.host as
		'host', count(*) as count
		from webscan_page_score i,
		webscan_page_detail b
		where i.id = b.id
		<if test="status >= 0">
			and audit_status = ${status}
		</if>
		group by i.host order by count DESC
		limit
		#{offset}, #{len}
	</select>

	<select id="selectHostDetectedPages" resultType="PageDetectedVo">
		select a.id as
		id ,a.host as host ,a.score as score ,a.audit_status as
		audit_status
		,a.checkBy as checkBy ,a.update_time as update_time
		,b.title as title
		,b.url as url ,b.path as path
		from webscan_page_score
		a ,webscan_page_detail b where a.id = b.id and
		a.`host`=#{host}
		<if test="status >= 0">
			and a.audit_status = ${status}
		</if>
		order by a.audit_status , a.score desc limit 30
	</select>
	<select id="selectDetectedPages" resultType="PageDetectedVo">
		select a.id as
		id ,a.host as host ,a.score as score ,a.audit_status as
		audit_status
		,a.checkBy as checkBy ,a.update_time as update_time
		,b.title as title
		,b.url as url ,b.path as path
		from webscan_page_score
		a ,webscan_page_detail b where a.id = b.id
		<choose>
			<when test="status ==9999">
				and a.audit_status > 0
			</when>
			<when test="status >=0">
				and a.audit_status = ${status}
			</when>
		</choose>

		order by a.audit_status , a.score desc limit ${offset},${len}
	</select>
	<select id="selectPageDetectedNum" resultType="int">
		select
		count(*)
		from 
		webscan_page_score a ,webscan_page_detail b where
		a.id = b.id
		<choose>
			<when test="status ==9999">
				and a.audit_status > 0
			</when>
			<when test="status >=0">
				and a.audit_status = ${status}
			</when>
		</choose>

	</select>
	<select id="selectDetectedPage" resultType="PageDetectedVo">
		select a.id as id
		,a.host as host ,a.score as score ,a.audit_status as audit_status
		,a.checkBy as checkBy ,a.update_time as update_time ,b.title as title
		,b.url as url ,b.path as path
		from webscan_page_score a
		,webscan_page_detail b where a.id = b.id and
		a.`id`=#{pageId}
	</select>

	<update id="setPageStatus" flushCache="true">
		update
		webscan_page_score
		set audit_status=#{status} where id =
		#{pageId}
	</update>
</mapper> 